{% extends "base_generic.html" %}

{% block content %}
    <h1>Заявки</h1>
    <a href="{% url 'create-request' %}">Создать заявку</a>

    {% if request_list %}
    <ul>

      {% for request in request_list %}
      <li>
          {{ request.title }}
           {% if user.is_superuser and request.status == 'n' %}
            <a href="{% url 'update-request' request.pk 'i' %}">Статус - в процессе</a>
            <a href="{% url 'update-request' request.pk  'c' %}">Статус - выполнено</a>
        {% elif request.status == 'n' %}
          <a href="{% url 'delete-request' request.pk %}">Удалить</a>
        {% endif %}
      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>Нет заявок</p>
    {% endif %}
{% endblock %}